@page
@model RazorCRUD.Pages.Produtos.Index
@{
    ViewData["Title"] = "Lista de Produtos";
}

<h1>@ViewData["Title"]</h1>

<div class="card">
    <div class="card-header bg-dark">
        <div class="row">
            <div class="col-sm-9">
                <h2 class="text-info">Lista de Produtos</h2>
            </div>
            <div class="col-sm-3">
                <a asp-page="Criar" class="btn btn-primary">Criar Novo Produto</a>
            </div>

        </div>


    </div>

    <div class="card-body">
        @if (Model.Productos.Count() > 0)
        {
            <br />
            <table class="table table-striped border">
                <tr class="tabe-secondary">
                    <th>@Html.DisplayNameFor(m => m.Productos.First().Id)</th>
                    <th>@Html.DisplayNameFor(m => m.Productos.First().Nome)</th>
                    <th>@Html.DisplayNameFor(m => m.Productos.First().Descricao)</th>
                    <th>@Html.DisplayNameFor(m => m.Productos.First().Estoque)</th>
                    <th>@Html.DisplayNameFor(m => m.Productos.First().Preco)</th>
                    <th>@Html.DisplayNameFor(m => m.Productos.First().DataCadastro)</th>
                    <th>Ações</th>
                </tr>
                @foreach (var item in Model.Productos)
                {
                    <tr>
                        <td>@Html.DisplayFor(m => item.Id)</td>
                        <td>@Html.DisplayFor(m => item.Nome)</td>
                        <td>@Html.DisplayFor(m => item.Descricao)</td>
                        <td>@Html.DisplayFor(m => item.Estoque)</td>
                        <td>@Html.DisplayFor(m => item.Preco)</td>
                        <td>@Html.DisplayFor(m => item.DataCadastro)</td>
                        <td>
                            <a asp-route-id="@item.Id" asp-page="Editar" class="btn btn-sucess btn-sm">Editar</a>
                            <button asp-page-handler="Excluir" asp-route-id="@item.Id" onclick="return confirm(' Confirmar a  exclusão')" class="btn btn-danger btn-sm">Excluir</button>
                        </td>
                    </tr>
                }
            </table>


        }
        else
        {

            <p> Lista de produtos vazia</p>
        }

    </div>

</div>
